
Alsaree3App.xcworkspace/xcuserdata/neosoft1.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/neosoft1.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
Pods/Pods.xcodeproj/xcuserdata/neosoft1.xcuserdatad/xcschemes/xcschememanagement.plist
